{% extends "index.html" %}
{% block title%}  {% endblock %}


{% block content%}

<div class="main_container">




                 <div class="itemaff">

                    <!--{%for t in espace%}



                          {%if t=='fatigue'%}
                            <span class="affchage"><font color="red">{{t}}</font></span>
                          {%else%}
                            <span class="af">{{t}}</span>
                          {%endif%}

                     {%endfor%}
                    -->





                   {%for t in space%}

                              {%if t in liste  %}
                                <span class="affchage"><font color="red">{{t}}</font></span>
                              {%else%}
                                <span class="af">{{t}}</span>
                              {%endif%}

                   {%endfor%}


              <!-- {%for medical_event in root.findall('sentences/sentence/medical_event')%}
                     {{medical_event.get('text')}}
             {%endfor%}
                -->







                 </div>
                <div class="itemaff1">
                {% for medical_event in root.iter('medical_event')%}
                    <ul>
                        <li class="trouver">Evénemment médical : {{medical_event.attrib.text}} </li><br>
                        <li> Tag : {{medical_event.attrib.tag }} </li><br>


                    </ul>

                    {%endfor%}
                </div>



        </div>




{%endblock content%}
