
{% extends "index.html" %} <!--Héritage Pour importer la structure HTML de index.html-->

{% block title%}  {% endblock%}

{% block content%}

    <div class="main_container">
            <div class="item">

                <h4>Veuillez sélectionner un fichier à traiter </h4>

                    <p>
                        <!-- Affichage des messages flash -->
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                 <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    </p>

                <!-- Formulaire de téléchargement -->
                <form class="form" method=post enctype=multipart/form-data>

                    <input class="bouton" type=file name=file>
                    <input class="boutonUpload"  type=submit value=Upload>
                    <br><br>

                </form>

            </div>
    </div>


{% endblock content%}


