{% extends "index.html" %}

{% block title%}  {% endblock%}

{% block content%}

        <div class="main_container">
            <div class="item">
            <h1>Upload new File</h1>


            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>

            <form method="get" enctype=multipart/form-data>

            </form>
            </div>
         </div>


{% endblock content%}


